// Colors
$d-blue: hsl(233, 26%, 24%);
$l-green: rgb(49, 211, 92);
$b-cyan: rgb(43, 183, 218);

$g-blue: hsl(233, 8%, 62%);
$lg-blue: hsl(220, 16%, 96%);
$vl-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);